<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <title>도서 리뷰</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
      rel="stylesheet"
    />

    <style>
      * {
        font-family: "Gowun Dodum", sans-serif;
      }

      .mytitle {
        width: 100%;
        height: 250px;

        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjk_952gQSjsH0_wbooDm1BSqorGpN-cCFMQ&amp;usqp=CAU");
        background-position: center;
        background-size: cover;

        color: white;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .mycards {
        margin: 20px auto 0px auto;
        width: 95%;
        max-width: 1200px;
      }
    </style>
    <script>
      $(document).ready(function () {
        listing();
        show_comment();
      });

      function listing() {
        fetch("/bookreview")
          .then((res) => res.json())
          .then((data) => {
            let rows = data["result"];
            $("#book-detail").empty();
            rows.forEach((a) => {
              //   let nicknake = a["nickname"];
              let comment = a["comment"];
              let title = a["title"];
              let desc = a["desc"];
              let image = a["image"];
              let star = a["star"];

              let star_repeat = "⭐".repeat(star);

              let temp_html = `<div class="card mb-3">
                                    <div class="row g-0">
                                    <div class="col-md-4">
                                        <img
                                        src="${image}"
                                        class="img-fluid rounded-start"
                                        alt="책사진"
                                        />
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                        <h5 class="card-title" style="font-weight:bold">${title}</h5>
                                        <p class="card-text">${desc}</p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="review">
                                    <div>${star_repeat}</div>
                                    <h5>${comment}</h5>
                                </div>`;
              $("#book-detail").append(temp_html);
            });
          });
      }
      function save_comment() {
        let comment = $("#comment").val();
        // let nickname = $("#nickname").val();

        let formData = new FormData();
        formData.append("comment_give", comment);
        // formData.append("nickname_give", nickname);

        fetch("/comment", { method: "POST", body: formData })
          .then((res) => res.json())
          .then((data) => {
            alert(data["msg"]);
            window.location.reload();
          });
      }
      function show_comment() {
        fetch("/comment")
          .then((res) => res.json())
          .then((data) => {
            let rows = data["result"];
            $("#comment-list").empty();
            rows.forEach((a) => {
              // let nicknake=a['nickname']
              let comment = a["comment"];

              let temp_html = `<div class="card">
                                    <div class="card-body">
                                        <blockquote class="blockquote mb-0">
                                            <p>${comment}</p>
                                            <footer class="blockquote-footer">호빵맨</footer>
                                        </blockquote>
                                    </div>
                                </div>`;
              $("#comment-list").append(temp_html);
            });
          });
      }
    </script>
  </head>

  <body>
    <div class="mytitle">
      <h1>Book Review</h1>
    </div>

    <div class="mycards" id="book-detail">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="http://bimage.interpark.com/goods_image/0/3/8/2/356690382g.jpg"
              class="img-fluid rounded-start"
              alt="책사진"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: bold">책 제목</h5>
              <p class="card-text">책 줄거리</p>
            </div>
          </div>
        </div>
      </div>
      <div class="review">
        <div>flqbek</div>
        <div></div>
      </div>
    </div>

    <div class="comment" style="display: flex; justify-content: center">
      <input
        id="comment"
        type="text"
        size="160"
        maxlength="50"
        placeholder="댓글을 남겨보세요!"
      />
      <button type="button" class="btn btn-success">확인</button>
    </div>
    <div class="mycards" id="comment-list">
      <div class="card">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>새로운 앨범 너무 멋져요!</p>
            <footer class="blockquote-footer">호빵맨</footer>
          </blockquote>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>새로운 앨범 너무 멋져요!</p>
            <footer class="blockquote-footer">호빵맨</footer>
          </blockquote>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>새로운 앨범 너무 멋져요!</p>
            <footer class="blockquote-footer">호빵맨</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </body>
</html>
